html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242,242,242,0.72);
    font-family: "Calibri Light",sans-serif;
    scroll-behavior: smooth;
}

.new {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
    background-image: url("../kansii/kansi_VALMIS.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#start-game {
    margin-top: 2em;
    border: unset;
    padding: 1em;
    width: 5%;
}

#start-game a {
    text-decoration: none;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5em;
}

.player-boxes {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    position: relative;
}

.player-1, .player-2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    margin: 1rem;
    box-shadow: 5px 5px 5px lightgray;
}

img {
    width: 90%;
    transform: rotate(340deg);
    padding: 0.5rem;
    opacity: 50%;
}

.stamps-player-1, .stamps-player-2 {
    width: 100%;
    background-color: rgba(248,248,248,0.72);
    padding: 0.2em;
    text-align: center;
}

#passport-1, #passport-2 {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
}

#player-1-info, #player-2-info {
    width: 100%;
    color: black;
    text-align: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.navigation .logo {
    margin-left: 1rem;
}

.navigation p {
    padding: 0;
    margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #111;
}

#map {
    width: 95%;
    color: white;
    background-color: black;
    background-size: cover;
    text-align: center;
    height: 60%;
}

footer {
    background-color: #333;
    color: white;
    padding: 0.3rem;
    text-align: center;
}

#modal-dice{
    position: fixed;
    z-index: 999;
    top: 100px;
    opacity: 1;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
#modal-dice-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
    background-color: #fff;
    opacity: 1;
    border-radius: 50px;
    /* justify-content: center; */
    align-items: center;
}
.open{
    display: flex;
}
.close{
    display: none
}
#modal-dice-container h1 {
    margin-top: 32px;
}
.dice-img{
    margin-top: 32px;
    /* background-color: blue; */
    width: 200px;
    height: 200px;
    border-radius: 40px;
}

#btn-dice-container{
    /* position: fixed; */
    display: flex;
    width: 100%;
    height: 48px;
    top: 100px;
    padding-left: 20px;
    align-items: center;
}
#btn-dice-section{
    /* position: fixed; */
    display: flex;
    width: 150px;
    height: 48px;
    top: 100px;
    justify-content: space-between;
    align-items: center;
}

.btn-dice{
    height: 40px;
    width: 60px;
    border-radius: 10px;
    border-width: 0;
    background-color: orange;
}

